##############################################################################
# SM Chokyoshi Hitomi 3
# by @nanakochi123456
#
# TiMidiTy Config (v2.0)

dir ../patches/guspat/izumo/inst
dir ../patches/guspat/izumo
dir ../patches/guspat
dir ../patches/sf2_all
dir ../patches/sf2_all/atomic
dir ../patches/sf2_all/fluid3
dir ../patches/sf2_all/realgs
dir ../patches/sf2_all/ultimate
dir ../patches/sf2_all/scc
dir ../patches/sf2_all/GMRBasico
dir ../patches/sf2_all/ForClassicalMusic
dir ../patches/sf2_part/Drumkit
dir ../patches/sf2_part/Drum
dir ../patches/sf2_part/Drumkit/the_open_source_drumkit
dir ../patches/sf2_part/Drum/the_open_source_drumkit
dir ../patches/sf2_part/piano
dir ../patches/sf2_part/VintageKeys
dir ../patches/sf2_part/ORCHESTRAL/
dir ../patches/sf2_part/OrchHit/
dir ../patches/sf2_part/famicom
dir ../patches/sf2_all/musix
dir ../patches/sf2_all/Giant
dir ../patches/sf2_all/Titanic
dir "../patches/sf2_part/Sonatina Symphonic Orchestra"
dir "../patches/sf2_part/3.5G HQ Orchestral"

##############################################################################

bank 0
	# Ç∆ÇËÇ†Ç¶Ç∏èóÉ{Å[ÉJÉã
	65 %font Titanic_200_GMGS_1.2.sf2 0 65 amp=250 vibrato=30:190:10

	# Strings1
	48 %font Titanic_200_GMGS_1.2.sf2 0 48 amp=100 rate=255
#	48 %font atomic.sf2 0 40 amp=80 rate=230:230:90:140:40:40 vibrato=30:190:10

	# Strings2
	49 %font Titanic_200_GMGS_1.2.sf2 0 48 amp=210 rate=255

	# Contrabass
	43 %font Titanic_200_GMGS_1.2.sf2 0 43 amp=260

	# Timpani
	47 %font Titanic_200_GMGS_1.2.sf2 0 47 amp=350

	# Harp
	46 %font Titanic_200_GMGS_1.2.sf2 0 46 amp=160

	# Horn
	60 %font Titanic_200_GMGS_1.2.sf2 0 60 amp=120

	# Trumpet
	56 %font atomic.sf2 0 56 amp=40

	# Piccolo
	72 %font Titanic_200_GMGS_1.2.sf2 0 72 amp=180 vibrato=30:190:10

	# Pizz
	45 %font Titanic_200_GMGS_1.2.sf2 0 45 amp=110

	# Violin
	40 %font atomic.sf2 0 40 keep=env amp=77 rate=255:230:70:100:30:30 vibrato=30:190:10
	40 %font "Strings part 1/aaviolin.sf2" 0 2 keep=env amp=110 rate=255:230:70:100:30:30


	# Viola
	41 %font atomic.sf2 0 41 keep=env amp=153 vibrato=30:190:10
	41 %font "Strings - Cello Solo.sf2" 0 0 keep=env amp=400 rate=255:230:70:100:30:30 vibrato=30:190:10

	# Cello
	42 %font Titanic_200_GMGS_1.2.sf2 0 42 keep=env amp=240 rate=255:230:70:100:30:30 vibrato=30:190:10
	42 %font "Strings - Cello Solo.sf2" 0 0 keep=env amp=511 rate=255:230:70:100:30:30 vibrato=30:190:10

	# Contrabass
	43 %font Titanic_200_GMGS_1.2.sf2 0 43 keep=env amp=205 rate=255:230:70:100:30:30 vibrato=30:190:10
	43 %font "Strings - Basses Sustain.sf2" 0 0 keep=env amp=90

	# Pizz
#	45 %font atomic.sf2 0 45 keep=env amp=60 rate=255:230:70:100:30:30 vibrato=30:190:10
	45 %font Titanic_200_GMGS_1.2.sf2  0 45 keep=env amp=137
	45 %font "Strings - Celli Pizzicato.sf2" 0 0 keep=env amp=140
	46 %font "Strings - 1st Violins Pizzicato.sf2" 0 0 keep=env amp=180

	# Tremolo Strings
	44 %font Titanic_200_GMGS_1.2.sf2  0 44 keep=env amp=125
	44 %font "SGM-V2.01.sf2" 0 44 keep=env amp=52

	# New Age Pad
	88 %font Titanic_200_GMGS_1.2.sf2 0 88 amp=150

	# Choir Pad
	91 %font Titanic_200_GMGS_1.2.sf2 0 91 amp=150

	# Brass
	61 %font Titanic_200_GMGS_1.2.sf2 0 61 amp=160

	# Horn
	60 %font Titanic_200_GMGS_1.2.sf2 0 60 amp=117
	60 %font "SGM-V2.01.sf2" 0 60 keep=env amp=190

	# Oboe
	68 %font "SGM-V2.01.sf2" 0 68 amp=150

	# Orch Hit
#	55 %font atomic.sf2 0 55 amp=110 pan=55 tune=+0.1
#	62 %font atomic.sf2 0 62 amp=110 pan=-55 tune=-12.1
#	55 %font Titanic_200_GMGS_1.2.sf2 0 55 amp=90 pan=55 tune=+0.15
#	62 %font Evanessence2.sf2 0 62 amp=90 pan=-55 tune=-12.15
	55 %font "Orchestra Hits.sf2"  0 55 amp=150 pan=55 tune=+0.15
	62 %font "Orchestra Hits.sf2"  0 55 amp=80 pan=-55 tune=-12.15
	63 %font "bennetng_ChinaHit.sf2" 0 0 amp=75 pan=0 tune=+12

	# Bass
	34 %font FluidR3GM.SF2 0 33 amp=115 pan=-55 tune=+0.15
	33 %font FluidR3GM.SF2 0 33 amp=115 pan=55 tune=-0.15

	# Overdrive Guitor
	29 %font Evanessence2.sf2 0 29 amp=145 vibrato=50:140:25

	# Piano
#	0 %font Piano_SplendidGrand.sf2 0 0 amp=110 tune=12
	1 %font Piano_Yamaha_DX7.sf2 0 0 amp=100
	0 %font rhodes.sf2 0 0 amp=200 tune=+12

	# Harpsichord
	6 %font Blanchet-1720.sf2 1 1 amp=300

	# Timpani
	47 %font Titanic_200_GMGS_1.2.sf2 0 47 amp=120 tune=+12
	47 %font "Percussion - Timpani.sf2" 0 0 amp=170 tune=+12

	# Hell
	125 %font 8RealGS20.SF2 0 125 amp=150

bank 1
	# Car
	125 %font 8RealGS20.SF2 1 125 amp=200

bank 2
	# Car
	125 %font 8RealGS20.SF2 2 125 amp=200

bank 3
	# Car
	125 %font 8RealGS20.SF2 3 125 amp=200

bank 4
	# Car
	125 %font 8RealGS20.SF2 4 125 amp=200

bank 5
	# Walk
	126 %font 8RealGS20.SF2 5 126 amp=400


##############################################################################

# Standard drums

drumset 0

	# bd
	36 %font drumkit3.1all.sf2 128 16 35 amp=280

	# sd
	38 %font drumkit3.1all.sf2 128 16 40 amp=180 tune=-2
	40 %font FluidR3GM.SF2 128 16 40 amp=170 tune=0

	# hihat
	# close
	42 %font Titanic_200_GMGS_1.2.sf2 128 0 42 amp=190
	# pedal
	44 %font Titanic_200_GMGS_1.2.sf2 128 0 44 amp=165
	# open
	46 %font Titanic_200_GMGS_1.2.sf2 128 0 46 amp=150

	# tom
#	50 %font drumkit3.1all.sf2 128 16 50 amp=200
#	48 %font drumkit3.1all.sf2 128 16 48 amp=200
#	47 %font drumkit3.1all.sf2 128 16 47 amp=180
#	45 %font drumkit3.1all.sf2 128 16 45 amp=180
#	43 %font drumkit3.1all.sf2 128 16 43 amp=180
#	41 %font drumkit3.1all.sf2 128 16 41 amp=180

	50 %font FluidR3GM.SF2 128 16 50 amp=135
	48 %font FluidR3GM.SF2 128 16 48 amp=135
	47 %font FluidR3GM.SF2 128 16 47 amp=125
	45 %font FluidR3GM.SF2 128 16 45 amp=125
	43 %font FluidR3GM.SF2 128 16 43 amp=125
	41 %font FluidR3GM.SF2 128 16 41 amp=155

#extension altassign 42 44 46

	# cymbal
	49 %font Titanic_200_GMGS_1.2.sf2 128 0 49 amp=250 pan=-75 tune=+0
	57 %font Titanic_200_GMGS_1.2.sf2 128 0 57 amp=250 pan=+75 tune=+0

	# Ride
#	51 %font drumkit3.1all.sf2 128 0 51 amp=210
	51 %font Titanic_200_GMGS_1.2.sf2 128 0 51 amp=210

drumset 1

	# Cymbal
	49 %font Titanic_200_GMGS_1.2.sf2 128 48 59 keep=loop keep=env amp=165
	57 %font Titanic_200_GMGS_1.2.sf2 128 48 59 keep=loop keep=env amp=165

	# VibraSlap
	58 %font Titanic_200_GMGS_1.2.sf2 128 0 58 keep=loop keep=env amp=35

	# Castanets
	85 %font Titanic_200_GMGS_1.2.sf2 128 0 85 keep=loop keep=env amp=200 tune=2

##############################################################################

# Standard drums

drumset 0

	# bd
	36 %font drumkit3.1all.sf2 128 16 35 amp=280
	36 %font 0_Yamaha9000.sf2 128 0 33 amp=280 keep=env
	37 %font 0_Yamaha9000.sf2 128 0 33 amp=280 keep=env

	# sd
	38 %font drumkit3.1all.sf2 128 16 40 amp=180 tune=-2
	40 %font FluidR3GM.SF2 128 16 40 amp=170 tune=0
	38 %font 0_Yamaha9000.sf2 128 0 31 amp=110 tune=0
	40 %font 0_Yamaha9000.sf2 128 0 31 amp=110 tune=-1

	# hihat
	# close
	42 %font Titanic_200_GMGS_1.2.sf2 128 0 42 amp=190
	42 %font 0_Yamaha9000.sf2 128 0 50 amp=140 pan=-40
	# pedal
	44 %font Titanic_200_GMGS_1.2.sf2 128 0 44 amp=120
	# open
	46 %font Titanic_200_GMGS_1.2.sf2 128 0 46 amp=150
	46 %font 0_Yamaha9000.sf2 128 0 51 amp=190 pan=20

	# tom
#	50 %font drumkit3.1all.sf2 128 16 50 amp=200
#	48 %font drumkit3.1all.sf2 128 16 48 amp=200
#	47 %font drumkit3.1all.sf2 128 16 47 amp=180
#	45 %font drumkit3.1all.sf2 128 16 45 amp=180
#	43 %font drumkit3.1all.sf2 128 16 43 amp=180
#	41 %font drumkit3.1all.sf2 128 16 41 amp=180

#	50 %font FluidR3GM.SF2 128 16 50 amp=135
#	48 %font FluidR3GM.SF2 128 16 48 amp=135
#	47 %font FluidR3GM.SF2 128 16 47 amp=125
#	45 %font FluidR3GM.SF2 128 16 45 amp=125
#	43 %font FluidR3GM.SF2 128 16 43 amp=125
#	41 %font FluidR3GM.SF2 128 16 41 amp=125

	50 %font 0_Yamaha9000.sf2 128 0 70 amp=115
	48 %font 0_Yamaha9000.sf2 128 0 69 amp=115
	47 %font 0_Yamaha9000.sf2 128 0 74 amp=120 tune=+2
	45 %font 0_Yamaha9000.sf2 128 0 73 amp=120 tune=+2
	43 %font 0_Yamaha9000.sf2 128 0 78 amp=135 tune=-4 pan=-35
	41 %font 0_Yamaha9000.sf2 128 0 77 amp=135 tune=-4 pan=-35

#extension altassign 42 44 46

	# cymbal
	49 %font Titanic_200_GMGS_1.2.sf2 128 0 49 amp=250 pan=-75 tune=+0
	57 %font Titanic_200_GMGS_1.2.sf2 128 0 57 amp=250 pan=+75 tune=+0
	49 %font 0_Yamaha9000.sf2 128 0 38 amp=130 tune=+1 pan=+10
	57 %font 0_Yamaha9000.sf2 128 0 38 amp=130 tune=+2 pan=+90

	# Ride
#	51 %font drumkit3.1all.sf2 128 0 51 amp=210
	51 %font Titanic_200_GMGS_1.2.sf2 128 0 51 amp=210
	51 %font 0_Yamaha9000.sf2 128 0 54 amp=190

drumset 1
	# bd
	36 %font "Percussion - All Percussion.sf2" 128 0 36

	# Cymbal
	49 %font Titanic_200_GMGS_1.2.sf2 128 48 59 keep=loop keep=env amp=165
	57 %font Titanic_200_GMGS_1.2.sf2 128 48 59 keep=loop keep=env amp=165
	49 %font "Percussion - All Percussion.sf2" 128 0 45 amp=150
	57 %font "Percussion - All Percussion.sf2" 128 0 45 amp=150

	# VibraSlap
	58 %font Titanic_200_GMGS_1.2.sf2 128 0 58 keep=loop keep=env amp=35
	58 %font "Percussion - All Percussion.sf2" 128 0 72 amp=40

	# Castanets
	85 %font Titanic_200_GMGS_1.2.sf2 128 0 85 keep=loop keep=env amp=180 tune=2
	85 %font "Percussion - All Percussion.sf2" 128 0 61 amp=100
